services:
  db:
    image: postgres:15
    container_name: fhir-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: hapi
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d hapi"]
      interval: 10s
      timeout: 5s
      retries: 10

  hapi:
    image: hapiproject/hapi:v7.6.0
    container_name: fhir-hapi
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./config/hapi.application.yaml:/data/hapi/application.yaml:ro
      - hapi_storage:/data/hapi
    environment:
      SPRING_CONFIG_LOCATION: "file:/data/hapi/application.yaml"
      SPRING_MAIN_ALLOW_CIRCULAR_REFERENCES: "true"

      HAPI_FHIR_VERSION: "R4"
      HAPI_FHIR_FHIR_VERSION: "R4"
      HAPI_FHIR_DEFAULT_VERSION: "R4"
    restart: unless-stopped

  nifi:
    image: apache/nifi:2.6.0
    container_name: nifi
    ports:
      - "8443:8443"
    environment:
      NIFI_WEB_HTTPS_PORT: "8443"
      NIFI_WEB_HTTPS_HOST: "0.0.0.0"
      SINGLE_USER_CREDENTIALS_USERNAME: "admin"
      SINGLE_USER_CREDENTIALS_PASSWORD: "qwe123qwe123"
      NIFI_SENSITIVE_PROPS_KEY: "test_fhir_2025!"
      NIFI_SECURITY_USER_LOGIN_IDENTITY_PROVIDER: "single-user-provider"
      NIFI_JVM_HEAP_INIT: "512m"
      NIFI_JVM_HEAP_MAX: "2g"
    volumes:
      - ./nifi/py_scripts:/opt/nifi/py_scripts:rw   # scripts folder inside the container
      - ./data:/data:ro                             # data entry folder
      - nifi_state:/opt/nifi/nifi-current           # statte, logs and flow repos
    depends_on:
      - hapi
      - db
    restart: unless-stopped

volumes:
  pgdata:
  hapi_storage:
  nifi_state:
